* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  text-transform: uppercase;
}

main {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    143deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(39, 34, 64, 1) 57%,
    rgba(29, 19, 77, 1) 89%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  #form-section {
    margin-top: 20vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 50px;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 8px;

      .input-container {
        position: relative;
        width: 100%;
      }

      input {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        padding-right: 30px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }

      .clear-button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        color: #999;
      }

      .cont-btn {
        display: flex;
        gap: 10px;
        margin-left: 10px;
        .addBtn {
          padding: 10px 15px;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 50%;
          font-size: 16px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0056b3;
            cursor: pointer;
          }
        }

        .editBtn {
          padding: 10px 15px;
          background-color: rgb(219, 186, 40);
          color: white;
          border: none;
          border-radius: 10px;
          font-size: 16px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: rgb(138, 126, 20);
            cursor: pointer;
          }
        }

        .cancelBtn {
          padding: 10px 15px;
          background-color: rgb(151, 151, 151);
          color: white;
          border: none;
          border-radius: 10px;
          font-size: 16px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: rgb(97, 97, 97);
            cursor: pointer;
          }
        }
      }
    }

    .subtitle {
      font-size: 24px;
      color: white;
    }

    ul {
      margin-top: 10px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0 10px;
        border-radius: 10px;

        span {
          font-size: 20px;
          color: rgb(211, 211, 211);
          width: 70%;
          max-width: 200px;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }

        .cont-icons {
          display: flex;
          gap: 20px;

          .deleteIcon {
            color: rgb(202, 31, 31);
            font-size: 24px;

            &:hover {
              color: rgb(139, 25, 25);
              cursor: pointer;
            }
          }

          .editIcon {
            color: rgb(219, 186, 40);
            font-size: 22px;

            &:hover {
              color: rgb(138, 126, 20);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
